@import 'styles/variables.css';
@import 'components/Place/Place.css';

.name {
  > a {
    color: white;
  }
}

.placeImage {
  max-width: 20rem;
}

.back {
  float: right;
}

.row {
  display: flex;
  justify-content: space-between;
  .colImage {
    padding-left: 1rem;
  }
  .rating {
    margin-top: $base-spacing;
    position: relative;
    display: inline;
  }
  .ratingScore, .stars {
    display: inline;
  }
  .stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: $starGrey;
    overflow: hidden;
    margin-left: calc($base-spacing / 2);
  }
  .fullStars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: $starYellow;
  }
  .emptyStars:before, .fullStars:before {
    content:'\2605\2605\2605\2605\2605';
    font-size: 1rem;
  }
  &.photos {
    flex-wrap: wrap;
    justify-content: center;

    .photo {
      padding: 0 0.5rem;
      margin-bottom: 1rem;
      flex-grow: 1;
    }
  }
}
